a:link {color: #ed4f0e;}
a:visited {color: #ed4f0e;}
a:hover {color: #ec7747;}
a:active {color: #ed4f0e;}
body{
	background: url('index-bg.gif');
}
h1{
	font-size: 200%;
}
h4{
	font-size: 400%;
	text-align:center;
}
ol{
	list-style-type:lower-greek; padding-left: 10px;
}
div,p{
	word-wrap:break-word;
}
div#info{
	width: 80px;
	height: 60px;
	
	background-size: 80px 60px;
	-moz-background-size: 80px 60px;
	background-repeat:no-repeat;
	
	background: url('index-txt-bg.gif');
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	box-shadow: 0 0 10px #666;
	-webkit-box-shadow: 0 0 10px #666;
	
	transform:rotate(30deg);
	-ms-transform:rotate(30deg); /* IE 9 */
	-moz-transform:rotate(30deg); /* Firefox */
	-webkit-transform:rotate(30deg); /* Safari and Chrome */
	-o-transform:rotate(30deg); /* Opera */
	
	position: absolute;
}
div#wrapper{
	width: 800px;
	min-height: 300px;
	/*height: 600px;*/
	margin: auto;
			
	background: url('index-txt-bg.gif');
	border-radius: 30px;
	box-shadow: 0 0 10px #666;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-webkit-box-shadow: 0 0 10px #666;
}
div#contenuto{
	color: white;
	margin-top: 10px;
	margin-left: 30px;
	font-family: 'Century Gothic';
	text-shadow: 0 -1px #000, 1px 0 #000, 0 1px #000, -1px 0 #000;
}
